.toggle {
}

.toggleBtn {
   padding: 5px 10px;
   font-weight: 600;
   color: #48bfee;
   background-color: white;
   transition: all 0.3s;
   border: 2px solid #48bfee;
   font-size: 15px;
   transition: all 0.5s;
   cursor: pointer;

   &:hover {
      background-color: #ccc;
      color: #fff;
   }
}

.toggleInput {
   display: none;
   &:checked + .toggleBtn {
      color: #fff;
      border-color: #48bfee;
      background-color: #48bfee;
   }
}

.leftBtn {
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border-right-width: 1px;
}

.rightBtn {
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   border-left-width: 1px;
}