.logo {
   font-weight: 900;
   font-size: 35px;
   display: inline-flex;
   color: rgb(72, 191, 238);
   letter-spacing: -0.1em;
}

.logoThin {
   font-weight: 300;
   font-size: 35px;
   display: inline-flex;
   color: rgb(72, 191, 238);
   letter-spacing: -0.1em;
}