* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

html {
   font-size: 62.5%; 
}

body {
   font-family: "Rubik", sans-serif;
   line-height: 1;
   font-weight: 400;
   background-color: transparent;
}

.wrapper {
   margin: 0 auto;
   background-color:  #fff;
   display: flex;
   flex-direction: column;
}
 
.container {
   width: 100%;
   padding: 0 10px;
   max-width: 1190px;
   margin: 0 auto;
   display: block; 
   position: relative;
}

a {
   text-decoration: none;
}

li {
   display: inline-flex;
}

button {
   cursor: pointer;
   border: 0;
}

::-webkit-scrollbar {
   width: 13px;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: rgba( 0, 0, 0, 0.5);
   border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #000000b3;
}


::-webkit-scrollbar-thumb {
   border-top: 3px solid #fff;
   border-bottom: 3px solid #fff;
   border-right: 3px solid #fff;
   border-left: 3px solid #fff;
}